* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  padding: 10px;
  font-size: 15px;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header,
footer,
.main-content {
  border: 1px solid black;
}

header > * {
  display: none;
}

.icon {
  height: 40px;
}

#maps-text {
  display: none;
}

.navigation a,
footer a {
  text-decoration: none;
  color: black;
}

.mobile_menu,
.logo,
.maps {
  display: block;
}

.watch-img {
  width: 100vw;
}

footer ul {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 5px;
  justify-content: space-around;
  align-items: center;
}

footer li {
  list-style-type: none;
}

footer {
  padding: 10px;
  height: 15vh;
}

.img-container {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.watch-image {
  object-fit: cover;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.description {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;
}

.description-text {
  text-align: justify;
}

.watch-name {
  text-align: center;
}

.price {
  font-size: 24px;
}

.images-preview {
  display: none;
}

@media screen and (min-width: 900px) {
  header > * {
    display: block;
    font-size: 18px;
  }

  .mobile_menu {
    display: none;
  }

  header a {
    text-decoration: none;
    color: black;
  }

  .navigation ul {
    gap: 30px;
  }

  .navigation li {
    display: inline-block;
    margin: 15px;
  }

  header a:hover {
    text-decoration: underline;
  }

  #my-account:hover {
    text-decoration: none;
  }

  .watch-image {
    width: 100%;
  }

  .images-preview {
    display: flex;
    justify-content: center;
  }

  .img-preview-item {
    border: 1px solid black;
    flex: 1;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
  }

  .main-content {
    display: flex;
  }

  .main-content > div {
    flex: 1;
  }

  .maps {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  #maps-text {
    display: block;
  }

  .description {
    height: auto;
  }

  footer ul {
    flex-direction: row;
  }

  footer a:hover {
    text-decoration: underline;
  }
}

.button-21 {
  background-color: #ffff;
  border-width: 2px;
  box-shadow: none;
  cursor: pointer;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 6px 20px;
  text-decoration: none;
  transition: background-color 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.button-21:hover {
  background-color: black;
  color: white;
}
