* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/************************* HEADER AND NAVIGATION *************************/

header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #ffff;
}

.logo {
  display: inline-block;
  font-size: 60px;
  margin-left: 10px;
}

.navigation {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: white;
  overflow: hidden;
}

.menu a {
  display: block;
  padding: 30px;
}

.navigation {
  max-height: 0;
  transition: max-height 0.5s ease-out;
}

.hamb {
  cursor: pointer;
  float: right;
  padding: 40px 20px;
}

.hamb-line {
  background-color: black;
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
}

.hamb-line::before,
.hamb-line::after {
  background-color: black;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.hamb-line::before {
  top: 5px;
}

.hamb-line::after {
  top: -5px;
}

.side-menu {
  display: none;
}

.side-menu:checked ~ nav {
  max-height: 100%;
}

.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

@media (min-width: 900px) {
  .navigation {
    max-height: none;
    top: 0;
    position: relative;
    float: right;
    width: fit-content;
    background-color: transparent;
  }

  .menu li {
    float: left;
  }

  .hamb {
    display: none;
  }
}

header,
footer,
.main-content {
  border: 1px solid black;
}

.icon {
  height: 40px;
}

.navigation a,
footer a {
  text-decoration: none;
  color: black;
}

.watch-img {
  width: 100vw;
}

footer ul {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 5px;
  justify-content: space-around;
  align-items: center;
}

footer li {
  list-style-type: none;
}

footer {
  padding: 10px;
  height: 15vh;
}

.img-container {
  height: 70vh;
  justify-content: center;
  align-items: center;
}

.watch-image {
  object-fit: cover;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.description {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;
}

.description-text {
  text-align: justify;
}

.watch-name {
  text-align: center;
}

.price {
  font-size: 24px;
}

.images-preview {
  display: none;
}

@media screen and (min-width: 900px) {
  header {
    height: 10vh;
  }

  .logo {
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .logo img{
   
    height: 50px;
  }

  header > * {
    display: block;
    font-size: 18px;
  }

  header a {
    text-decoration: none;
    color: black;
  }

  .navigation ul {
    gap: 30px;
  }

  .navigation li {
    display: inline-block;
    margin: 15px;
  }

  header a:hover {
    text-decoration: underline;
  }

  #my-account:hover {
    text-decoration: none;
  }

  .watch-image {
    width: 100%;
  }

  .images-preview {
    display: flex;
    justify-content: center;
  }

  .img-preview-item {
    border: 1px solid black;
    flex: 1;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
  }

  .main-content {
    display: flex;
    width: 100%;
  }

  .main-content > div {
    flex: 1;
  }

  .maps {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  #maps-text {
    display: block;
  }

  .description {
    height: auto;
  }

  footer ul {
    flex-direction: row;
  }

  footer a:hover {
    text-decoration: underline;
  }
}

.cart-btn {
  background-color: #ffff;
  border-width: 2px;
  border-color: black;
  box-shadow: none;
  cursor: pointer;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 6px 20px;
  text-decoration: none;
  transition: background-color 0.5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
}

.cart-btn:hover {
  background-color: black;
  color: white;
}
